body {
  /*background-image: url("~/assets/images/2.jpg");
  background-size: cover;*/
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

/*#main {
  display: flex;
  justify-content: center;
}*/

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
}

#title {
  width: 100%;
  text-align: center;
}

#regLink {
  display: flex;
  justify-content: center;
}

#loginBtn {
  display: flex;
  justify-content: center;

}
