<div class="add-food-item">
  <mat-card>
    <mat-card-content>
      <h4>Добавление продукта</h4>
      <form>
        <div>
          <mat-form-field class="example-full-width form-group">
            <mat-label>Продукт</mat-label>
            <input matInput id="name" placeholder="Название продукта" type="text" [(ngModel)]="newfooditem.name" name="name" required />
          </mat-form-field>

          <mat-form-field class=" form-group">
            <mat-label>Тип</mat-label>
            <mat-select id="food_type_id" placeholder="Тип" [(ngModel)]="newfooditem.food_type_id" name="food_type_id" required>
              <mat-option *ngFor="let t of foodTypes" [value]="t.id">{{t.food_type}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width form-group">
            <mat-label>Белки</mat-label>
            <input matInput id="protein" placeholder="Белки" type="text" [(ngModel)]="newfooditem.protein" name="protein" required />
          </mat-form-field>

          <mat-form-field class="example-full-width form-group">
            <mat-label>Жиры</mat-label>
            <input matInput id="fats" placeholder="Жиры" type="text" [(ngModel)]="newfooditem.fats" name="fats" required/>
          </mat-form-field>

          <mat-form-field class="example-full-width form-group">
            <mat-label>Углеводы</mat-label>
            <input matInput id="carbs" placeholder="Углеводы" type="text" [(ngModel)]="newfooditem.carbs" name="carbs" required/>
          </mat-form-field>

          <mat-form-field class="example-full-width form-group">
            <mat-label>Ккал</mat-label>
            <input matInput id="kcal" placeholder="Ккал" type="text" [(ngModel)]="newfooditem.kcal" name="kcal" required/>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <p *ngIf="error" class="error">
        Необходимо заполнить все поля
      </p>
      <button mat-raised-button color="primary" (click)="addFoodItemClick()" type="submit">Добавить</button>
      <button mat-stroked-button [routerLink]="['/food-info']">Отмена</button>
    </mat-card-actions>
  </mat-card>
</div>
