<mat-card *ngIf="!isLoggedIn">
  <mat-card-title>Вход</mat-card-title>
  <mat-card-content>
    <form >
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Имя пользователя" [(ngModel)]="newuser.username" name="username" #username />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="password" placeholder="Пароль" [(ngModel)]="newuser.password" name="password" #password />
        </mat-form-field>
      </div>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-raised-button color="primary" (click)="login(username.value, password.value)">Войти</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
