<!--<div mat-dialog-content>
  <p>Установите количество воды, которое Вы хотите потреблять ежедневно.</p>
  <mat-form-field>
    <table mat-table *ngIf="allRecords" [dataSource]="allRecords" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Продукт (100г) </th>
        <td mat-cell *matCellDef="let r"> {{r.date_diary}} </td>
      </ng-container>

      <ng-container matColumnDef="food_type_id">
        <th mat-header-cell *matHeaderCellDef> Тип </th>
        <td mat-cell *matCellDef="let r"> {{}} </td>
      </ng-container>

      <ng-container matColumnDef="protein">
        <th mat-header-cell *matHeaderCellDef> Белки (г) </th>
        <td mat-cell *matCellDef="let r"> {{}} </td>
      </ng-container>

      <ng-container matColumnDef="fats">
        <th mat-header-cell *matHeaderCellDef> Жиры (г) </th>
        <td mat-cell *matCellDef="let r"> {{}} </td>
      </ng-container>

      <ng-container matColumnDef="carbs">
        <th mat-header-cell *matHeaderCellDef> Углеводы (г) </th>
        <td mat-cell *matCellDef="let r"> {{}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Закрыть</button>
</div>-->
