body {
}

h4 {
  width: 100%;
  text-align: center;
}

::ng-deep .mat-card {
  border: #6610f2;
}

.username{
  width: auto;
}

.norms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
}

.pagecontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90vh;
}

.infocontainer {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoCard {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 35vw;
  height: 58%;
}

.mainInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.profile {
  display: flex;
  flex-direction: column;
}
.weightInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
  margin-top: 15%;
}

.paramsCard {
  width: 35vw;
  height: 40%;
}
.params {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.diarywatercontainer {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.diaryCard {
  width: 35vw;
  height: 68%;
  display: flex;
  flex-direction: column;
}
.diaryData {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 90%;
}
.diaryDataHeaders {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.diaryDataContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}

.diaryFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3px;
}

.waterCard {
  width: 35vw;
  height: 30%;
}

.waterCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mealContent {
  font-size: 12px;
}

#rectangle {
  border-radius: 5px;
  width: 20px;
  height: 30px;
  background: red;
}

