<div class="pagecontainer">
  <div class="infocontainer">
    <mat-card class="infoCard">
      <div class="mainInfo">
        <h3 class="username">
          Username
        </h3>
        <div class="weightInfo">
          <p>
            <mat-label>Цель</mat-label> <br />
            ...
          </p>
          <p>
            <mat-label>Начальный вес</mat-label> <br />
            ..kg
          </p>
          <p>
            <mat-label>Текущий вес</mat-label> <br />
            ..kg
          </p>
          <p>
            <mat-label>Целевой вес?</mat-label> <br />
            ..kg
          </p>
        </div>
      </div>
    </mat-card>
    <mat-card class="testCard">

    </mat-card>
  </div>

  <div class="diarywatercontainer">
    <mat-card class="diaryCard">
      <h4>Дневник питания</h4>
      <div class="diaryData">

      </div>
    </mat-card>

    <mat-card class="waterCard">
      <h4>Вода</h4>

      <div class="incdecBtns">
        <button mat-icon-button class="incrBtn">
          <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-icon-button class="decrBtn">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>

      <button mat-button (click)="openDialog()">Установить норму</button>
      <mat-label *ngIf="water">{{water}}</mat-label>
    </mat-card>
  </div>

</div>
