<div class="pagecontainer" *ngIf="username && start_weight && goal_weight ">
  <!--&& current_weight-->
  <div class="infocontainer">
    <mat-card class="infoCard">
      <div class="mainInfo">
        <div class="profile">
          <img src={{path}} />
          <h4 class="username">
            {{username}}
          </h4>
        </div>
        <div class="weightInfo">
          <p>
            <mat-label>Начальный вес</mat-label> <br />
            {{start_weight}}
          </p>
          <p>
            <mat-label>Текущий вес</mat-label> <br />
            {{current_weight}}
          </p>
          <p>
            <mat-label>Целевой вес</mat-label> <br />
            {{goal_weight}}
          </p>
        </div>
      </div>
    </mat-card>
    <mat-card class="paramsCard">
      <button mat-button (click)="updateMeasurement()">
        Обновить параметры
      </button>
      <button mat-button (click)="showProgress()">
        Прогресс
      </button>
    </mat-card>
  </div>

  <div class="diarywatercontainer">
    <mat-card class="diaryCard">
      <h4>Дневник питания</h4>
      <div class="diaryData">
        <div class="diaryDataHeaders">
          <div id="breakfastHeader">
            <span>Завтрак</span><br />
            <button mat-icon-button id="addBtn" (click)="addBreakfast()">
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>

          <div id="lunchHeader">
            <span>Обед</span><br />
            <button mat-icon-button id="addBtn" (click)="addLunch()">
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>

          <div id="dinnerHeader">
            <span>Ужин</span><br />
            <button mat-icon-button id="addBtn" (click)="addDinnner()">
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>

          <div id="snackHeader">
            <span>Перекус</span><br />
            <button mat-icon-button id="addBtn" (click)="addSnack()">
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>
        </div>
        <div class="diaryDataContent">
          <div id="breakfastContent">
            {{breakfastFood}}
          </div>

          <div id="lunchContent">
            {{lunchFood}}
          </div>

          <div id="dinnerContent">
            {{dinnerFood}}
          </div>

          <div id="snackContent">
            {{snackFood}}
          </div>
        </div>
      </div>
      <div class="diaryFooter">
        ИТОГО:
      </div>
    </mat-card>

    <mat-card class="waterCard">
      <h4>Вода</h4>

      <div id="rectangle"></div>

      <div class="incdecBtns">
        <button mat-icon-button class="incrBtn" (click)="increaseValue()">
          <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-icon-button class="decrBtn" (click)="decreaseValue">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>

      <button mat-button (click)="openDialog()">
        Установить норму
      </button>
      <mat-label *ngIf="water">{{water}}</mat-label>
    </mat-card>
  </div>
</div>
