<h2>
  Продукты
</h2>

<div>
  <button mat-raised-button color="primary" [routerLink]="['/add-food-item']">Добавить продукт</button>
</div>

<div>
  <p *ngIf="!dataSource">
    <b>Загрузка...</b>
  </p>
</div>

<div>
  <table mat-table matSort [hidden]="!(dataSource && foodTypes)" [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Продукт (100г) </th>
      <td mat-cell *matCellDef="let f"> {{f.name}} </td>
    </ng-container>

    <ng-container matColumnDef="food_type_id">
      <th mat-header-cell *matHeaderCellDef> Тип </th>
      <td mat-cell *matCellDef="let f"> {{foodTypes[f.food_type_id-1].food_type}} </td>
    </ng-container>

    <ng-container matColumnDef="protein">
      <th mat-header-cell *matHeaderCellDef> Белки (г) </th>
      <td mat-cell *matCellDef="let f"> {{f.protein}} </td>
    </ng-container>

    <ng-container matColumnDef="fats">
      <th mat-header-cell *matHeaderCellDef> Жиры (г) </th>
      <td mat-cell *matCellDef="let f"> {{f.fats}} </td>
    </ng-container>

    <ng-container matColumnDef="carbs">
      <th mat-header-cell *matHeaderCellDef> Углеводы (г) </th>
      <td mat-cell *matCellDef="let f"> {{f.carbs}} </td>
    </ng-container>

    <ng-container matColumnDef="kcal">
      <th mat-header-cell *matHeaderCellDef> Ккал </th>
      <td mat-cell *matCellDef="let f"> {{f.kcal}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[10, 15]" showFirstLastButtons></mat-paginator>
</div>
