<div>
  <button mat-raised-button color="primary" [routerLink]="['/add-food-item']">Добавить продукт</button>
</div>

<div>
  <p *ngIf="!allFood">
    <b>Список пуст</b>
  </p>
</div>

<div>
  <table mat-table *ngIf="allFood" [dataSource]="allFood" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Продукт </th>
      <td mat-cell *matCellDef="let f"> {{f.name}} </td>
    </ng-container>

    <ng-container matColumnDef="food_type_id">
      <th mat-header-cell *matHeaderCellDef> Тип </th>
      <td mat-cell *matCellDef="let f"> {{foodTypes[f.food_type_id]}} </td>
    </ng-container>

    <ng-container matColumnDef="protein">
      <th mat-header-cell *matHeaderCellDef> Белки </th>
      <td mat-cell *matCellDef="let f"> {{f.protein}} </td>
    </ng-container>

    <ng-container matColumnDef="fats">
      <th mat-header-cell *matHeaderCellDef> Жиры </th>
      <td mat-cell *matCellDef="let f"> {{f.fats}} </td>
    </ng-container>

    <ng-container matColumnDef="carbs">
      <th mat-header-cell *matHeaderCellDef> Углеводы </th>
      <td mat-cell *matCellDef="let f"> {{f.carbs}} </td>
    </ng-container>

    <ng-container matColumnDef="kcal">
      <th mat-header-cell *matHeaderCellDef> Ккал </th>
      <td mat-cell *matCellDef="let f"> {{f.kcal}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
